/* Example of a Universal Selector */
/* *{

    color: pink;
    background-color: green;

} */

/* Example of a Element Selector */
body {

    background-color: beige;
}
/* Element selector on button font sixe */
button {

    font-size: 30px;
}
/* Example of Multiple selector, here we grouped the h1 & h2 element */
h1, h2 {

    color: rgb(98, 53, 11);
}
/* Example of ID Selector, this allows us to style specific elements on our HTML page*/
#signup {

    background-color: pink;
    color: rgb(98, 82, 52);

}
/* Example of a Class Selector changing the text color to a light blue */
.tag{

    color:rgb(102, 200, 212);
}
/* A class tag that changed the hyperlink text color to pink */
.post a {

    color: palevioletred;
}
/* Descendant Selector that changed the hyperlink to brown*/
footer > a {

    color: rgb(98, 82, 52);
}
/*Class Selector that changed a specific hyperlink text color to brown*/
a[href*="google"] {

    color: rgb(98, 53, 11);
}
/*Here's an example of a Pseudo class*/
button:hover {

    background-color: rgb(102, 200, 212);
    color: palevioletred;
}
/*Here's am example of a Nested Psuedo Class*/
.post button:active{

    background-color: blue;
}
/*Here's a Psuedo Element*/
h2::first-letter{

    font-size: 50px;
}
/*Here's a Psuedo Element*/
p::first-line {

    color: rgb(102, 200, 212);
}